<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HimApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <HimApp.Properties.Settings>
      <setting name="Theme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Color" serializeAs="String">
        <value>TealColor</value>
      </setting>
      <setting name="IsRemember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
      <setting name="StartupPage" serializeAs="String">
        <value>HomePage</value>
      </setting>
      <setting name="AddDays" serializeAs="String">
        <value>5</value>
      </setting>
    </HimApp.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="HimBDEntities" connectionString="metadata=res://*/BD.Model1.csdl|res://*/BD.Model1.ssdl|res://*/BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=HimBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>